.cont{
    color: black;
    position: absolute;
    left: 1400px;
    top: 950px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.lista{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 50px;
}

.bottoni{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 90px;
    font-size: 50px;
}

.lista2{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}


body {
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

button:hover {
  opacity: 0.8;
}

.roma {
  background-color: #cd212a;
}

.lazio {
  background-color: #0055a4;
}

.juventus {
  background: linear-gradient(to bottom right, #fcb514, #000);
}

.napoli {
  background-color: #0a206d;
}

.milan {
  background-color: #da0000;
}
</style>